.item{
	overflow: hidden;
	clear: both;
}
.main{
	margin: 0 auto;
	width: 1140px;
	height: 540px;
	border: solid 2px grey;
}
.imgDiv{
	width:200px ;
	float: left;
	margin: 10px;
}
.a{
	width: 1120px;
	height: 250px;
	margin: 8px;
	border: solid 2px blue ;
}
img{
	width: 200px;
	border-radius: 100px;
}
h3{
	color: blue;
}
.itemText{
	width: 900px;
	float: right;
}