<div class="checkout_area section-padding-80" ng-controller="loginController">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="containersss">
                        <h2>Login</h2>
                        <form action="" method="POST">
                            <label for="user">Email:</label>
                            <input type="email" name="email" required ng-model="email"> <br>
                            <label for="user">Password:</label>
                            <input type="password" name="password" required ng-model="password"> <br>
                            <button ng-click="login()">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>