body {
}

.anh{float:left; max-width: 100px; height: 100px; padding-bottom:10px; padding-top:10px}
.anh img {width:100px; height:100px; padding-top:10px; padding-left:0px}
.nguyenlieu{margin-left:15px; margin-top:5px;width:401px; float:left; font-family:@Arial Unicode MS; font-size:14px; color:Black}
.nguyenlieu span {color:#e60e99; text-decoration:underline}

.phantrang {color:Red}


.anhfree{float:left; max-width: 100px; height: 100px; padding-bottom:10px;}
.nguyenlieufree{margin-left:15px; margin-top:15px;width:401px; float:left; font-family:@Arial Unicode MS; font-size:14px; color:Black}

.detail-anh{float:left; margin:0px; width: 300px;padding-top:20px}
.detail-anh img {width: 200px; height: 200px; padding-bottom:20px}
.detail-congthuc{width:100%; height:auto; font-family:@Arial Unicode MS; font-size:14; font-style:italic; padding-top:10px; color:#794968;padding-right:10px}

.detail-nguyenlieu{clear:both; color:#794968}



.div{max-width:400px; max-height:40px;float:left; margin:5px;}
.book{width:230px;float:left; font-family:@Arial Unicode MS; font-size:12px;text-align:center; padding-top:20px}
.book span {text-decoration:none}
.book span:hover {text-decoration:underline; color:Green}

.anhbook{float:left; max-width: 100px; height: 100px;padding-bottom:120px}

.nguyenlieu span {color:#e60e99; text-decoration:none}
.nguyenlieu span:hover {color:#278837; text-decoration:underline}
.detail-book img{float:left;width: 145px;height:110px; padding-top:20px}
.detail-books{ padding-left:10px; width:600px;}
.imgmuahang{ float:left;width:8px; margin-top:100px; margin-left:80px}